.c-btn {
    display: flex;

    a {
        width: 150px;
        height: 50px;

        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1px;

        @include fontMuli16btn();
        color: $primary-color;
        background-color: $btn-color;

        @include flexDesign();
        justify-content: center;

        transition: all 500ms linear;

    }

    .icon {
        width: 50px;
        height: 50px;

        font-size: 24px;
        background-color: $btnSide-color;

        cursor: pointer;

        @include flexDesign();
        justify-content: center;
    }

    &--discover {

        color: $text-white;

        @media screen and (max-width: 800px) {
            justify-content: center;
        }

        a {
            border: 1px solid $text-white;
            border-right: 0;

            color: $text-white;
            background: none;

            @media screen and (max-width: 600px) {
                width: 205px;

                font-size: 14px;
            }

            @media screen and (max-width: 400px) {
                width: 150px;
            }
        }

        .icon {
            border: 1px solid $text-white;
            border-left: 0;

            color: $text-white;
            background: none;

            @media screen and (max-width: 600px) {

                font-size: 18px;
            }
        }

    }
}