.p-bloc {
    &--radio {
        .radio-container {
            .radio {
                height: 250px;

                display: flex;
                justify-content: center;
                align-items: center;

                position: relative;

                h2 {
                    font-size: 250px;
                    text-transform: capitalize;
                    font-family: $font-muli;
                    font-weight: 900;

                    color: #ffffff00;

                    background-image: url("../img/bg2.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-clip: text;

                    transition: all 500ms ease;

                    @media screen and (max-width:900px) {
                        font-size: 200px;
                    }

                    @media screen and (max-width:800px) {
                        font-size: 175px;
                    }

                    @media screen and (max-width:600px) {
                        font-size: 140px;
                    }

                    @media screen and (max-width:400px) {
                        font-size: 100px;
                    }
                }
            }

            .gallery {
                .slider {
                    margin: auto;
                    width: 100%;
                    position: relative;

                    .slider-item {
                        margin: 0 15px;
                        position: relative;
                        transition: transform 0.3s ease;

                        img {
                            width: calc(100% - 30px);
                            height: auto;
                            display: block;
                        }

                        &.slick-center {
                            transform: scale(1.5);
                        }

                        .slider-text {
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            color: white;
                            font-size: 1.5em;
                            transition: opacity 0.3s ease, transform 0.3s ease;

                            h3 {
                                font-size: 30px;
                            }
                        }
                    }

                    .slick-slide:not(.slick-center) .slider-text {
                        display: none;
                    }

                    .slick-prev,
                    .slick-next {
                        font-size: 24px;
                        line-height: 1;
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        z-index: 10;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(-50%);
                    }

                    .slick-prev {
                        left: 10px;
                    }

                    .slick-next {
                        right: 10px;
                    }
                }
            }
        }
    }
}